.pull-left {
    float: left;
    width: 47%;
}

.pull-right {
    float: right;
    width: 47%;
}

ul,
li {
    font-size: smaller;
}

figcaption {
    font-size: smaller
}



/* lesson overview start */
#lesson-overview {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    row-gap: 20px;
}

#lesson-overview>div {
    align-self: center;
}

/* lesson overview end */


/* slide type start */
#slide-types {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-row-gap: 50px

}
/* a silly way to solve this: */
#slide-types > div > div:nth-child(2){
    padding-top: 20px;
}
/* slide type end */


/* Text message start */
.message {
    border-radius: 10px;
    padding: 10px;
    position: relative;

}




.left {
    text-align: left;
    background-color: #04AA6D;
    width: 60%;
    margin-left: 20px;
}

.right {
    text-align: right;
    background-color: #1a6acc;
    justify-self: right;
    width: 60%;
    margin-right: 5px;
}

.left:before {
    content: url(images/qgis-icon_15px.png);
    position: absolute;
    top: 0px;
    left: -20px;

}

.right:after {
    content: url(images/arcgis-icon_15px.png);
    padding-left: 10px;
    position: absolute;
    top: 0px;
    margin-left: 5px;

}

.time {
    font-size: large;
    padding: 3px;
}

/* Text message end */